@media only screen and (max-width: 980px) {
	.image_slider {

		.CTAbox {
			padding-top: 40vh;
			padding-left: 130px;
			font-weight: 300;
			font-size: 0.99rem;
			width: 90%;

			.title {
				font-size: 5vw;
			}
		}
	}

}

@media only screen and (max-width: 830px) {

	.image_slider {

		.CTAbox {
			padding-top: 40vh;
			padding-left: 30px;
			font-weight: 300;
			width: 100%;

			.title {
				font-weight: 600;
				text-shadow: 0px 0px 4px rgba(0,0,0,0.37);
				font-size: 5vw;
			}
			
		}
	}

}


@media only screen and (max-width: 600px) {

	.image_slider {
		text-align: center;

		.CTAbox {
			padding-top: 40vh;
			padding-left: 30px;
			font-weight: 300;
			width: 100%;

			.title {
				font-weight: 600;
				text-shadow: 0px 0px 4px rgba(0,0,0,0.37);
				font-size: 7vw;
			}
		}
	}

}