@media only screen and (max-width: 577px) {

    .boxIt {
        width:100% !important;
        overflow-wrap: break-word;

        .title {
            overflow-wrap: break-word;
        }

        img {
            width: 100% !important;
        }
    }


    .related_topics {
        .post_item:nth-child(3){
            display: none
        }
    }

}

@media only screen and (max-width: 950px) {

    .related_topics {
        .post_item:nth-child(3){
            display: none
        }
    }

    ._page {
        .col-md-4 {
            display: none
        }
    }
}