.section_boxed {
	width: 60%;
	margin: 0 auto;
}




.list {
	width: 100%;
	background: #f1f1f1;
	margin-top: 20px;
	margin-bottom: 20px;

	ul {
		width: 60%;
		margin: 0 auto;
		line-height: 1.4rem;
		padding: 20px;
		padding-bottom: 60px;
	}
}