<div class="_page">
	<section  class="sectionfiller">

		<div  class="container boxIt">
			<h1  class="title">PRIVACY POLICY</h1>

			<p  class="content">
				<strong>

				In this policy, “MSUGROO”, “we”, “us” and “our” represents MSUGROO Digital. “User” and “visitor” refers to you.

				</strong>

				<br><br>

				At MSUGROO, we are committed to protecting your personal data whilst visiting our website. This privacy policy explains when, why and what data we collect from our visitors, where we use this data and how we protect it. Your personal and sensitive data will not be shared with third-parties without your consent.
				<br><br>


				This policy may be updated at any time so please check this page regularly. This policy is effective from the 25th of May 2018.
				<br><br>

				By using our website, you’re agreeing to the conditions outlined in this policy. In case of any queries related to your personal data or our privacy practices, please write an email to privacy@msugroo.com

				<br><br>


				<strong>WHAT DO WE DO WITH THE DATA WE GATHER</strong> <br>	<br>
				We may collect the following data from a user through our contact forms:
				<br>

				Full name
				Company name
				Company website URL
				Email address
				Phone number
				Message
				We will not collect more information than we need to fulfil our purposes and will not keep them for longer than what is necessary.

				<br> <br>
				<strong> WHEN DO WE COLLECT THE DATA </strong>
				<br> <br>

				We collect data upon submitting data in one of our contact forms

				WHAT DO WE DO WITH YOUR PERSONAL DATA
				We may use your personal data submitted to us through our website for the following purposes specified in this policy or on the relevant pages of the website:

				For administering our website and internal business purposes;
				Personalising our website to you; <br><br>
				To provide you with the information of our services that you request;
				To communicate with you regarding the services you’ve requested and respond to your questions and comments; <br><br>
				To send you email notifications that you have specifically requested;
				To send you our email newsletter, if we have your consent (you can inform us at any time if you no longer require the newsletter); <br><br>
				To provide third parties with statistical information about website usage (these third parties will not be able to identify any individual user from the information provided); <br><br>
				To verify compliance with the terms and conditions governing the use of our website (including monitoring private messages sent through our website’s private messaging service)
				To keep our website safe, secure and to prevent fraud or illegal activities
				PERSONAL DATA SHARED WITH THIRD PARTIES
				<br><br>

				<strong>We may share your data with:</strong>
				<br><br>

				Companies within the MSUGROO Digital group
				<br><br>

				Law enforcement or fraud prevention agencies if we believe the supplied data may violate a law
				Professional service providers, such as IT providers, professional advisers or subcontractors as reasonably necessary for the purposes set out in this policy
				Our website includes hyperlinks to and details of, third party websites. We have no control over third parties and are not responsible for the content on their website or how they manage your data. Should you want, please refer to their privacy policy for more information.

				<br><br>
				<strong>We may share your data in such circumstances:</strong> 
				<br><br>

				In order to establish, exercise, or defend our legal rights and in connection with any ongoing or prospective legal proceedings.
				INTERNATIONAL DATA TRANSFERS
				Data that we collect may be stored, processed in, and transferred between any of the countries in which we operate and do not have data protection laws equivalent to the European Economic Area, Ukraine and India.
				HOW LONG WE RETAIN YOUR PERSONAL DATA
				We store your personal data until we have successfully satisfied your contact request.

				<br><br>
				MSUGROO Digital’s general retention policy is to retain data for up to 6 years from the last time you have contacted us
				<br><br>
				
				<strong>SECURE DATA PROTECTION</strong>
				<br><br>
				
				In order to prevent unauthorised access or disclosure, we have put technical and operational processes in place to keep your data safe. MSUGROO also uses SSL encryption to transmit information from end users to their hosted servers.

				<br><br>
				<strong>DATA BREACH </strong>
				<br><br>

				MSUGROO Digital will report any data breach of this website, systems and/or database to the the ICO and relevant individuals potentially affected within 72 hours of the breach notification.

				<br><br>
				<strong>YOUR RIGHTS TO YOUR PERSONAL DATA </strong>
				<br><br>
				You have several rights in relation to your personal data and our use of it. If you would like to make a request for any of the following detailed rights, you can write us by emailing privacy@msugroo.com. The below is a summary of your rights according to our interpretation of the GDPR;

				<br><br>
				The right to be informed: Our privacy policy and website terms at the time of capturing your personal data disclose how we are using your personal data.
				<br><br>
				The right to access: You have the right to access the personal data we process and other information such as purpose of processing, who your data has been or will be disclosed with etc. In most cases this is free of charge, there may be some charges if the request is excessive and requested numerous times. <br><br>
				The right to rectification: You can ask for the rectification of your personal data if you believe the data in our possession is inaccurate.
				The right to removal: We are obligated to remove your personal data from our records without undue delay if you request its removal. If it’s not possible for us to remove your personal data from our records or we need to retain your personal data we will inform you why we cannot process your request. <br><br>
				The right to data portability: You can request a copy of your personal data in a machine-readable format and have the right to transmit the data to another controller. <br><br>
				The right to restrict object/processing: You have the right to block or suppress processing of your personal data or right to withdrawal of your consent <br><br>

				Rights of automated decision making and profiling: You can choose not to be the subject of a decision where the consequence is based on automated processing <br><br>
				PRIVACY POLICY FOR JOB APPLICATION PROCESSING
				WHICH PERSONAL DATA MSUGROO COLLECTS
				We keep several categories of personal data on our prospective employees in order to carry out effective and efficient processes. We keep this data in recruitment files relating to each vacancy and we also hold the data within our computer systems, for example, recruitment logs.
				<br><br>

				<strong>MSUGROO would typically collect the following personal data:</strong>

				<br><br>

				Your full name <br>
				Your registered address <br>
				Your date of birth <br>
				Your email addresses <br>
				Your (mobile) telephone number <br>
				Your website <br>
				Professional profiles available in the public domain, e.g. LinkedIn, <br>Twitter or <br>
				Facebook <br>
				Your CV <br>
				Skillset (if not already covered in a CV) <br>
				Job preferences (if not already covered in a CV) <br>
				Current employer/client <br>
				Current salary/employment conditions <br>
				Desired salary/ employment conditions <br>
				Other documentation, as per the need (e.g. references) <br>
				In some cases, we will collect data about you from third parties, such as employment agencies, former employers when gathering references or credit reference agencies.

				<br><br>

				Should you be successful in your job application, we will gather further information from you, for example, your bank details and next of kin details, once your employment begins.
				<br><br>

				<strong>CRIMINAL CONVICTION DATA</strong>
				<br><br>
				We will only collect criminal conviction data where it is appropriate given the nature of your role and where the law permits us. This data will usually be collected at the recruitment stage, however, may also be collected during your employment. We use criminal conviction data to determine your suitability, or your continued suitability for the role.
				<br><br>

				<strong>WHO WE SHARE YOUR DATA WITH</strong>
				<br><br>
				Employees within our company who have responsibility for recruitment will have access to your data which is relevant to their function. All employees with such responsibility have been trained in ensuring data is processing in line with GDPR.
				<br><br>

				Data is shared with third parties at the time of pre-employment verification.
				<br><br>

				We may also share your data with third parties as part of a Company sale or restructure, or for other reasons to comply with a legal obligation upon us. We have a data processing agreement in place with such third parties to ensure data is not compromised. Third parties must implement appropriate technical and organisational measures to ensure the security of your data.

				<br><br>

				We do not share your data with bodies outside of the European Economic Area.
				<br><br>

				<strong>PROTECTING YOUR DATA</strong>
				<br><br>
				We are aware of the requirement to ensure your data is protected against accidental loss or disclosure, destruction and abuse. We have implemented processes to guard against such.
				<br><br>

				<strong> RETENTION PERIODS </strong>
				We only keep your data for as long as we need it for, which, in relation to unsuccessful candidates, is six months to 1 year.
				<br><br>
				If your application is not successful and we have not sought consent or you have not provided consent upon our request to keep your data for the purpose of future suitable job vacancies, we will keep your data for six months once the recruitment exercise ends.
				<br><br>

				If we have sought your consent to keep your data on file for future job vacancies, and you have provided consent, we will keep your data for nine months once the recruitment exercise ends. At the end of this period, we will delete or destroy your data, unless you have already withdrawn your consent to our processing of your data in which case it will be deleted or destroyed upon your withdrawal of consent.
				<br><br>

				Where you have provided consent to our use of your data, you also have the right to withdraw that consent at any time. This means that we will stop processing your data and there will be no consequences of withdrawing consent.
				<br><br>

				If your application is successful, your data will be kept and transferred to the systems we administer for employees. We have a separate privacy notice for employees, which will be provided to you.
				<br><br>

				<strong>YOUR RIGHTS</strong>
				<br><br>
				You also have the unrestricted right to withdraw consent, that you have previously provided, to our processing of your data at any time. Withdrawing your consent means that we will stop processing the data that you had previously given us consent to use. There will be no consequences for withdrawing your consent. However, in some cases, we may continue to use the data where so permitted by having a legitimate reason for doing so.
				<br><br>

				<strong>CONSENT</strong>
				<br><br>
				You have the right to withdraw your consent for us to use your personal data at any time. To withdraw your consent, please email at privacy@msugroo.com.
			</p>
		</div>
	</section>

	<div class="spaced_footer"></div>

</div>