$red: #ff3333;
.footer {
    padding-top: 150px;
    padding-bottom: 10px;
    background: #141428;
}

.made_ldn {
    text-align: center;
    margin-top: 60px;
    text-transform: capitalize;
}
.color-red {
    color: $red;
}

.resource_title {
    font-weight: 300;
    font-size: 1.4rem;
    text-transform: capitalize;
    
}

.resource_link {
    list-style: none;
    margin-bottom: 10px;

    a {
        color: white;
        text-decoration: none;
    }
    
}


.spaced_footer {
    height: 200px;
}

.review {
    background: #1d1d32;
    width: 100%;
    min-height: 150px;

    .content {
        padding: 20px;
        padding-top: 0;
        font-weight: 300;
        line-height: 1.2rem;
    }
}

.userinfo {
    // background: red;
    padding: 12px;

    .close {
        float: right;
        margin-top: -15px;
        padding: 8px;
        font-size: 1.2rem;
        border: none;
        background: none;
        color: #4545bd;
        cursor: pointer;
        outline: none;
    }
    .avatar {
        width: 70px;
        height: 70px;
        background: red;
        margin-top: -30px;
        margin-left: 4px;
        float: left;
        margin-right: 10px;
        background-position: center;
        background-size: cover;
    }

    .company_name {
        color: #9b9b9b;
    }

}

.callToAction {
    padding: 60px;
    background: #1d1d32;
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 100px;
    margin-top: -190px;

    .msg {
        font-size: 1.2rem;
    }
    
    .btnSpace {
        text-align: right;
        padding-top: 20px;
    }

    a {
        text-decoration: none;
        outline: none;
    }
    
    .callToActionBTN {
        background: #4545bd;
        padding: 19px;
        color: white;
        width: 100%;
        border-radius: 3px;
    }
}